
<form [formGroup]="child">
    <div class="selectinputs">
        <select  formControlName="selecttype" (change)="changeType($event)">
            <option *ngFor="let typeoftext of alltypes" [ngValue]="typeoftext">{{typeoftext}}</option>
        </select>
        <input type="text" formControlName="inputtype" (input)="inputData()" placeholder="enter your data">
    </div>
    <div class="displayerror">
        <div *ngIf="inputtype?.invalid && (inputtype?.dirty || inputtype?.touched)">
            <div *ngIf="inputtype?.errors?.['pattern']">Enter only {{addcomment}}</div>
        </div>
    </div>
</form>
